*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: hsl(204, 86%, 23%);
    height: 1px;
     /* max-width: 600px; */
     /* background-image: url(https://img.freepik.com/premium-vector/night-with-clouds-weather-app-screen-mobile-interface-design-forecast-weather-background-time-concept-vector-banner_87946-4287.jpg?w=2000); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

}
body>h1{
    color: white;
    text-align: center;
    /* font-size: 20px; */
}
.weather_app{
    background-color: white;
    background-image: url(landscape-7264427_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}
.search_form{
    display: flex;
    align-items: center;
}
input[type="text"]{
    flex: 1;
    padding: 20px;
    border: 2px solid #4398bd;
    border-radius: 15px;
    font-size: 1rem;
}
.search_btn{
    background-color: #3498bd;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    margin-left: 10px;
}
.search-btn:hover{
    background-color: #2980b9;
}
.city_date_section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.city_date_section .city{
    font-size: 2rem;
    opacity: 0.9;

}
.city_date_section .date{
    background-color: #c3eaf4;
    padding: 5px 10px;
    border-radius: 15px;

}
.tempreture_info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.tempreture_info .temp{
    font-size: 10rem;

}
.tempreture_info .description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.tempreture_info .description i{
    font-size: 1.5rem;
    opacity: 0.8rem;
}
.tempreture_info .description span{
    font-size: 1.5rem;
}
.additional_info{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;


}
.wind-info,
 .humidity-info,
  .visibility-info{
    background-color: rgb(62, 174, 226);
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.additional_info .material-icons{
    font-size: 3rem;
    opacity: 0.8;

}
.wind-info div,
 .humidity-info div, 
 .visibility-info div{
    text-align: center;
}